body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 10em;
	margin: 0 auto;
}

h2 {
	font-size: 3em;
	margin: 1% auto;
	padding-bottom: .5em;
}

label {
	font-size: 2em;
	margin: 1% auto;
}

.main {
	text-align: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: 2px 2px 5px gray;
	width: 75%;
	max-width: 800px
}

html {
	background: url(https://source.unsplash.com/random/featured/?nature) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* other options for random image can be found at https://source.unsplash.com/
  full screen background code from https://css-tricks.com/perfect-full-page-background-image/ */

#focusInput {
	line-height: 1.25em;
	width: 100%;
	background-color: #0000004b;
	border: none;
	font-size: 2em;
	color: white;
	text-align: center;
	border-bottom: 2px white solid;
	margin-top: .5em;
}
/* im sure there are more responsive ways to size the input*/

input:focus {
	outline: none;
}

#focus-container p {
	margin: 0;
	padding: .3em;
	font-size: 1.75em;
	font-weight: bold;
}

.todo-flex {
	display: flex;
	justify-content: center;
	align-content: center;
}

.todo-flex span {
	align-self: center;
	margin: 0 10px;
	padding: 0;
}

#focus-item {
	font-size: 2.95em;
}

#focus-checkbox {
	font-size: 2.5em;
	cursor: pointer;
	text-shadow: none;
}

#focus-delete {
	font-size: 2em;
	cursor: pointer;
	text-shadow: none;	
	margin-top: .3em;
}


@media (max-width:850px) {
    body{font-size: 12px;}
}

@media (max-width:650px) {
    body{font-size: 10px;}
}

@media (max-width:550px) {
	body{font-size: 8px;}
}
